header {
    background-color: #666666;
    padding: 30px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* 以下はヘッダー固定のためのスタイル調整 */
body {
    margin-top: 60px;
    /* ヘッダーの高さ + パディング分のマージンを追加 */
}

.main{
    font-family: Comic Sans MS;
    text-align: center;
}

.con1{
    padding: 30px;
}