header {
    background-color: #8f8f8f;
    background-color: #666666;
    padding: 30px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
nav ul {
    list-style: none;
    margin: 0;
    padding-left: 15%;
}
nav ul li {
    display: inline-block;
    margin-left: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
}
nav ul li a:hover {
    color: #ffcc00;
}
/* 以下はヘッダー固定のためのスタイル調整 */
body {
    margin-top: 60px;
    /* ヘッダーの高さ + パディング分のマージンを追加 */
}
.main{
    font-family: Comic Sans MS;
    text-align: left;
    padding-top: 60px;
}
.con1{
    padding: 30px;
    padding-left: 20%;
    padding-right: 20%;
}
#hr_2 {
	border-top: 1px dashed #aaa;
}
.box {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #ffffff;
    border-left: solid 5px #2300be;
}
.box p {
    margin: 0; 
    padding: 0;
}
.boxy {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #e7e7e7;
    border-left: solid 5px #ff0d0d;
}
.boxy p {
    margin: 0; 
    padding: 0;
}
.boxx {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #e7e7e7;
    border-left: solid 5px #000000;
}
.boxx p {
    margin: 0; 
    padding: 0;
}